# build artifacts
*.o
*.obj
*~
src/depend.tmp

# binaries
mfakto
*.elf
*.exe

# copied from source directory
*.cl
!src/*.cl
*.exe
*.h
!src/*.h
*.ini
!src/*.ini

*.o
*.obj
*.opensdf
*.sdf
*.suo
*.vcxproj.user

# machine-specific Visual Studio files
*.suo
*.sdf
*.opensdf
*.vcxproj.user

# Visual Studio build folders
ipch/
Release/
Debug/
Release/
ipch/
mfakto
mfakto_Kernels.elf
src/all
src/depend
x64/

# instance-specific files
*.ckp
*.ckp.bu
results.txt
worktodo.txt

# other
.DS_Store
