# build artifacts
*.o
*.obj
*~
src/*.tmp
src/depend

# binaries
mfakto
*.elf
*.exe

# copied from source directory
*.cl
!src/*.cl
*.h
!src/*.h
*.ini
!src/*.ini

# device-specific Visual Studio files
*.suo
*.sdf
*.opensdf
*.vcxproj.user

# Visual Studio build folders
ipch/
Release/
Debug/
src/all
x64/

# instance-specific files
*.ckp
*.ckp.bu
results.txt
worktodo.txt

# other
.DS_Store
